extends layout

block content
    #container
        include ./partials/header

        section
            .wrapper
                h1 #{article.title}
                .article-author #{article.author}
                if article.source
                    .article-source
                        span Source: #{article.source}
                if article.publishedAt
                    .article-published
                        time(datetime='#(article.publishedAt)') #{article.formatDate(article.publishedAt)}
                img.img(alt='selenicka', src='/images/#{article.image}')
                p #{article.description}
                if user
                    a.btn-primary(href="/article/delete/#{article._id}") Remove Article

        include ./partials/footer
